<p>Great to see you around, <%= current_admin.name %>!</p>
<span><%= link_to "Log Out", destroy_admin_session_path, method: :delete	%> </span>
    <h2>All Posts</h2>
    <span><%= link_to("New Post ", new_post_path) %> </span>
   <!--<% @posts.each do |post|%>
    <div class= "category"> <%post.categories.each do |post_category|%>
<span class= "category"><%= post_category.name%></span>
<% end %></div>
   <img class="post" src="<%= post.image%>" alt="">
    <h3><%= post.title%></h3>
      </span> <span><%= link_to("Delete Post ", post_path(post), method: :delete) %>     </span> </span></div>
    <p><%= post.body.truncate(300)%><%= link_to "Read more", post_path(post)%></p>
    <% end%>--> 
     
     <% @posts.each do |post|%>
   <div class="row latest space center-align">
    <div class="col s12 m7 center-align">
      <div class="card">
        <div class="card-image">
          <img  src="<%= post.image%>">
          <span class="card-title"><%= post.title%></span>
           <span><%= link_to("Delete Post ", post_path(post), method: :delete) %>     </span> 
        </div>
        <div class="card-content">
          <p><%=  raw markdown(post.body).truncate(300)%></p>
        </div>
        <div class="card-action">
          <%= link_to "Read more", post_path(post), class:"cyan-text text-accent-4"%>
        </div>
        
      </div>
    </div>
  </div>
  <% end %>