<div><%= link_to("  Edit Post ", edit_post_path(@post)) %></div> 
<div class="post"><article><%=raw  markdown(@post.body) %></article></div>
<section class="section comments">
    <div class="container">
        <span class="comment"><strong><%= @post.comments.count %> Comments</strong> </span>
        <%= render @post.comments %>
        <div class="comment-form">
            <hr />
             <span class="comment"><strong>Leave a reply</strong></span>
             <%= render partial: 'comment' %>
        </div>
    </div>
</section>