<h1>This is just for admins</h1>
<span><%= link_to "Log Out", destroy_admin_session_path, method: :delete	%> </span>
    <h2>All Posts</h2>
    <span><%= link_to("New Post ", new_post_path) %> </span>
    <% @posts.each do |post|%>
    <h3><%= post.title%></h3>
      </span> <span><%= link_to("Delete Post ", post_path(post), method: :delete) %>     </span> </span></div>
    <p><%= post.body.truncate(50)%><%= link_to "Read more", post_path(post)%></p>
    <% end%>