<% if admin_signed_in? %>
    <%= render partial: "admin_index"%>
<% else %>

    <h2>All Posts</h2>
    <% @posts.each do |post|%>
 <div> <%post.categories.each do |post_category|%>
<span class= "category"><%= post_category.name%></span>
<% end %></div>
 <img src="<%= post.image%>" alt="">
    <h3><%= post.title%></h3>
    <p><%= post.body.truncate(50)%><%= link_to "Read more", post_path(post)%></p>
   <span> <%=post.comments.count %> comments</span>
    <% end%>
<% end %>