<div class="article" >
<div class="image-title"><img class="post"src="<%= @post.image%>" alt="">
<h1 class="bottom-left"><%=@post.title%></h1></div>
<div><% if @post.admin %>
<span class="post-info">by:  <%= link_to @post.admin.name %></span>
<% else %>
<span class="post-info">written by: anynomus</span>
<% end%><span class="post-info">Posted <%= time_ago_in_words @post.created_at%> ago</span>
<span class="post-info"><%= @post.reading_time%> min read</span>
 </div>


<% if admin_signed_in? %>
    <%= render partial: "admin_show"%>
   
<% else %>


<div class="post"><article><%=  raw markdown(@post.body) %></article></div>

    
        <span class="comment"><strong><%= @post.comments.count %></strong> Comments</span>
      <!--<%= render partial: "comments/comment2"%> -->
     <div class="box">
     <ul class="comment-section">
     <%= render @post.comments %>
     </ul></div> 
       
        <div class="comment-form">
            <span class="comment">Leave a reply</span>
             <%= render partial: 'comment' %>
        </div>
    

<% end%>




</div>